@using Dados.Entidades;
@model List<Noticia>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clipping de Notícias Curitiba</h1>
    <br />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Publicação</th>
            <th scope="col">Imagem</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Link</th>
            <th scope="col">Avaliação</th>
        </tr>
    </thead>
    <tbody>
        @{
            var IdPositiva = "";
            var IdNegativa = "";
            var IdNeutra = "";
            var classPositiva = "";
            var classNegativa = "";
            var classNeutra = "";
            foreach (var noticia in Model)
            {
                IdPositiva = "lnkPositiva" + noticia.Id.ToString();
                IdNegativa = "lnkNegativa" + noticia.Id.ToString();
                IdNeutra = "lnkNeutra" + noticia.Id.ToString();

                classPositiva = noticia.Positiva ? "btn-success" : "btn-outline-success";
                classNegativa = noticia.Negativa ? "btn-danger" : "btn-outline-danger";
                classNeutra = noticia.Neutra ? "btn-warning" : "btn-outline-warning";
                <tr>
                    <td scope="row">@noticia.DataPublicacao.ToString()</td>
                    <td><img src="@noticia.ImagemURL" width="100"></td>
                    <td>@noticia.Fonte</td>
                    <td>@noticia.Titulo</td>
                    <td>@noticia.Descricao</td>
                    <td><a href="@noticia.URL" target="_blank">Visualizar</a></td>
                    <td><a id="@IdPositiva" href="javascript:void(0)" noticiaId="@noticia.Id" class="btn @classPositiva" style="width: 90px" onclick="Positiva(this);">Positiva</a> <a id="@IdNegativa" href="javascript:void(0)" noticiaId="@noticia.Id" class="btn @classNegativa" style="width: 90px" onclick="Negativa(this);">Negativa</a> <a id="@IdNeutra" href="javascript:void(0)" noticiaId="@noticia.Id" class="btn @classNeutra" style="width: 90px" onclick="Neutra(this);">Neutra</a></td>
                </tr>
            }
        }
        </tbody>
    </table>

    @if (ViewBag.TotalRegistros == 0)
    {
        <div class="text-center">
            <h5 class="display-4">Não há nehuma notícia na base de dados.</h5>
            <br />
        </div>
    }


    @if (ViewBag.NumeroPaginas > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (ViewBag.PaginaAtual == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Primeira</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/?p=1" tabindex="-1">Primeira</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?p=@(ViewBag.PaginaAtual-1)" tabindex="-1">Anterior</a>
                    </li>
                }

                <li class="page-item ml-3 mr-3">@ViewBag.PaginaAtual de @ViewBag.NumeroPaginas</li>
                @if (ViewBag.PaginaAtual == ViewBag.NumeroPaginas)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Próxima</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Última</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/?p=@(ViewBag.PaginaAtual+1)">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/?p=@ViewBag.NumeroPaginas">Ùltima</a>
                    </li>
                }

            </ul>
        </nav>
    }